{extend name="layout"}
{block name="right"}
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="widget radius-bordered">
                <div class="widget-header bordered-bottom bordered-themeprimary">
                    <span class="widget-caption">文章修改</span>
                </div>
                <div class="widget-body">
                    <form class="form-horizontal">
                        <input type="hidden" name="id" value="{$artData.id}">
                        <div class="form-group">
                            <label for="title" class="control-label col-sm-2">文章标题</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="title" name="title" value="{$artData.title}" placeholder="文章标题"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="control-label col-sm-2">标签</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="tags" name="tags" value="{$artData.tags}" placeholder="文章标题"/>
                                <span class="help-block">标签以 | 分割</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="checkbox col-lg-offset-2 col-lg-6">
                                <input type="checkbox" name="is_top" {if $artData.is_top == 1} checked>
                                <span class="text">是否推荐</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="cate_id" class="control-label col-sm-2">所属导航</label>
                            <div class="col-sm-6">
                                <select name="cate_id" class="form-control">
                                    {foreach $cateData as $val}
                                    <option value="{$val.id}" {if $artData.cate_id == $val.id} selected {/if}>{$val.catename}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label col-sm-2">文章概要</label>
                            <div class="col-sm-6">
                                <textarea name="desc" id="desc" cols="30" rows="5" class="form-control">{$artData.desc}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label col-sm-2">文章内容</label>
                            <div class="col-sm-6">
                                <textarea name="content" id="content" cols="30" rows="10">{$artData.content}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <button class="btn btn-primary" id="artedit">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
{/block}