{extend name="layout" }
{block name="right"}
<div class="page-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="well with-header with-footer">
                <div class="header bg-themeprimary">
                    服务器信息
                </div>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>服务器域名</td>
                        <td>{$Request.domain}</td>
                    </tr>
                    <tr>
                        <td>服务器IP地址</td>
                        <td>{$Request.ip}</td>
                    </tr>
                    <tr>
                        <td>服务器端口</td>
                        <td>{$Request.port}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{/block}