{extend name="layout"}
{block name="right"}
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="widget radius-bordered">
                <div class="widget-header bordered-bottom bordered-themeprimary">
                    <span class="widget-caption">文章添加</span>
                </div>
                <div class="widget-body">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="control-label col-sm-2">用户名</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="username" name="username" placeholder="用户名"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label col-sm-2">密码</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="password" name="password" placeholder="密码"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label col-sm-2">邮箱</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="email" name="email" placeholder="邮箱"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <button class="btn btn-primary" id="memadd">添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
{/block}